@font-face {
    font-family: 'Geometria';
    src: local('Inter-Bold');
    src: url('../fonts/Geometria.woff2') format('woff2');
    src: url('../fonts/Geometria.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Geometria', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
    font-size: 62.5%;
    background: linear-gradient(45deg, rgba(212,88,200,1) 0%, rgba(36,211,146,1) 100%) no-repeat;
}

.container {
    width: 82vw;
    margin: 0 auto;
}

.nav-bar {
    position: relative;
    width: 95%;
    margin-top: 0.5rem;
    padding: 1.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #000;
    border-radius: 100vw;
    left: 50%;
    transform: translate(-50%);
}

.nav-bar__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-bar__img-container {
    position: absolute;
    left: 2em;
    max-width: 5em;
    height: 70%;
}
.nav-bar__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8em;
}

.nav-bar__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-bar__btn {
    margin-right: 1em;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.4em 0.9em;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100vw;
    border: 0.1em solid rgba(36, 211, 146, .83);
    font-size: 1.7em;
    font-weight: 500;
}
.nav-bar__btn_active {
    background-color: #24d392d4;
    border: 0.1em solid rgba(36, 211, 146, 0);
}
.nav-bar__btn_active > a {
    color: #000;
}
a {
    color: #fff;
    text-decoration: none;

}
a:active {
    color: #fff;
}

.personal-album {
    margin: 30px auto 0 auto;
    max-width: 50rem;
    padding: 3em;
    border-radius: 2em;
    background-color: #000;
}
.personal-album__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}
.personal-album select{ /*input*/
    padding: 0.5em 1em;
    width: 80%;
    text-align: start;
    border: none;
    border-radius: 100vmax;
    font-size: 1.8em;
    font-weight: 500;
}
option:first-child {
    background-color: #24d392d4;
}
.personal-album__title {
    margin-bottom: 1em;
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: 500;
}
.personal-album_btn {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #24d392d4;
    border-radius: 100vw;
    font-size: 1.8em;
    font-weight: 500;
    border: none;
}
.personal-album_line {
    height: 1px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.2);
}